/e-commerce-server/src/main/resources/application.yaml
/.idea/jarRepositories.xml
/.idea/encodings.xml
/.idea/dataSources.local.xml
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/sqldialects.xml
/.idea/misc.xml
/.idea/db-forest-config.xml
/.idea/dataSources.xml
/.idea/compiler.xml
/.idea/dataSources/
/.idea/runConfigurations/
/.idea/inspectionProfiles/
